<div class="wraper">
    <ul class="container">
        <li class="link" *ngFor="let device of SubTimeLineData.information; let i = index">
            <a>{{device.name}}</a>
        </li>
    </ul>
</div>