<div class="wraper">
    <ul class="container">
        <ng-container *ngFor="let quarter of timeLineData.data;let i =index;">
            <div class="card highlight-card-quarter card-small-quarter" [ngStyle]="{'background-color': (parentIndex==i) ? '#91b199 ' : '' }">
                <div class="q1-card" *ngIf="parentIndex != i">{{ quarter.quater}}</div>
                <div class="q1-card" *ngIf="parentIndex == i">&#10006;</div>
            </div>
            <li class="link" [ngClass]="{'active': (parentIndex == i && childIndex==j )}" (click)="selectedval(device,i,j)" *ngFor="let device of quarter.data; let j = index">
                <a>{{device.name}}</a>
            </li>
        </ng-container>
    </ul>
</div>
<div *ngIf="showSubTimeLine">
    <mat-card class="card-timeline">
        <div>
            <h2 class="timeline-h2">IN Q{{parentIndex+1}} - {{SubTimeLineData.name}}</h2>
            <hr class="divider">
        </div>
        <app-subtimeline [SubTimeLineData]="SubTimeLineData"></app-subtimeline>
    </mat-card>
</div>