.card-timeline {
    background-color: #f1f1f1;
}

.wraper {
    padding: 50px;
    text-align: center;
    font-family: sans-serif;
    width: auto;
    margin: 10px auto;
}

h1 {
    margin: 50px auto;
}

.container {
    border-top: 2px solid #000;
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;
}

.link {
    position: relative;
    margin-top: 10px;
    width: 100%;
}

.link a {
    font-weight: bold;
    text-decoration: none;
    color: #ca2030;
    text-transform: uppercase;
    font-size: 10px;
}

.link:first-child {
    margin-left: -55px;
}

.link:last-child {
    margin-right: -55px;
}

.link::after {
    content: "";
    width: 10px;
    height: 10px;
    background: #fff;
    position: absolute;
    border-radius: 10px;
    top: -18px;
    left: 50%;
    transform: translatex(-50%);
    border: 2px solid black;
}

.active::after,
.link:hover::after {
    background: red;
}

p.lead {
    font-weight: 600;
    margin: 50px auto;
    line-height: 1.5;
}

:host {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
}

.content {
    display: flex;
    margin: 82px auto 82px;
    padding: 0 10px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    transform: translateZ(0);
}

.flex-container {
    display: flex;
    flex-direction: initial;
    margin-top: -5%;
    margin-left: 31%;
}

.centered {
    position: absolute;
    width: 25em;
    margin-top: -13em !important;
    margin: 0 auto;
    left: 0 auto;
}

.mat-form-field+.mat-form-field {
    margin-left: 8px;
}

.q1-card {
    cursor: pointer;
}

.panel-q1 {
    margin-top: 33em;
    margin-left: 40em;
    width: 43em;
    opacity: 0.8;
    position: absolute;
    background: rgb(91, 91, 103);
    background: radial-gradient(circle, rgba(91, 91, 103, 1) 45%, rgba(52, 61, 73, 1) 68%);
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 16px;
}

.card {
    border-radius: 4px;
    border: 1px solid #eee;
    background-color: #fafafa;
    height: 40px;
    width: 200px;
    margin: 0 5px 20px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
}

.card.card-small {
    height: 16px;
    width: 168px;
}

.card.card-small-quarter {
    height: 20px !important;
    width: 20px !important;
    border-radius: 50%;
    margin-right: -3px;
}

#line {
    position: relative;
    width: 109px;
    height: 5px;
    left: 0.3em;
    top: 1.5em;
    background-color: black;
}

.card.highlight-card-quarter {
    background-color: #46da6d;
    color: #e00930;
    font-weight: 600;
    border: none;
    position: relative;
}


/* Responsive Styles */

@media only screen and (min-device-width: 431px) and (max-device-width: 1023px) {
    .card:not(.highlight-card) {
        height: 16px;
        margin: 8px 0;
    }
    .card.highlight-card span {
        margin-left: 72px;
    }
    .flex-container {
        display: flex;
        flex-direction: initial;
        margin-top: -5%;
        margin-left: 25%;
    }
    #line {
        position: relative;
        width: 109px;
        height: 5px;
        left: 0em;
        top: 2em;
        background-color: black;
    }
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) {
    .flex-container {
        display: flex;
        flex-direction: initial;
        margin-top: -5%;
        margin-left: 24%;
    }
    .card:not(.highlight-card) {
        height: 16px;
        margin: -26px 0;
    }
    .card.highlight-card span {
        margin-left: 72px;
    }
}

.timeline-h2 {
    margin: 0px 0px 0px 10px;
    padding-top: 0px;
    color: black;
    font-size: 15px;
    font-weight: bold;
}

hr.divider {
    border: 1px solid black;
}